.home-container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1535px) {
  .popular-mints {
    width: calc(100% - 10px);
  }
}

.css-doq0dk {
  width: 0 !important;
  margin-left: auto;
  margin-right: auto;
}

.css-1qzevvg {
  position: absolute !important;
  z-index: 999;
  left: 0 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  top: 50% !important;
}

.current-date-header {
  font-size: 18px;
}

.month-calendar {
  border: none;

  .badge-cell {
    background: transparent;
  }

  .calendar-header-row {
    height: 8%;

    .calendar-header-cell {
      font-size: 14px !important;
    }
  }
}

.side-mints-container {
  &::-webkit-scrollbar {
    display: none;
  }
}
