.home-container {
  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: 1480px) {
    .collab {
      align-self: center;
    }
  }
}

@media only screen and (max-width: 1535px) {
  .popular-mints {
    width: calc(100% - 15px);
  }

  .collabs-container {
    width: calc(100% - 15px);
  }
}

.css-doq0dk {
  width: 0 !important;
  margin-left: auto;
  margin-right: auto;
}

.css-1qzevvg {
  position: absolute !important;
  z-index: 999;
  left: 0 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  top: 50% !important;
}

.month-calendar {
  .badge-cell {
    background: transparent;
  }

  .calendar-header-row {
    height: 12%;

    .calendar-header-cell {
      font-size: 14px !important;
    }
  }
}

.side-mints-container {
  &::-webkit-scrollbar {
    display: none;
  }
}

.home-side {
  &::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1803px) and (max-width: 1902px) {
  .mint {
    width: 160px;

    & img {
      height: 160px;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .home-container {
    .react-multi-carousel-item {
      width: 258px !important;
    }
  }
}

@media only screen and (max-width: 1051px) {
  .upcoming-mint-h {
    height: calc(100% - 56px) !important;
  }
}

@media only screen and (max-width: 1085px) {
  .home-wrapper {
    flex-direction: column;
    overflow-y: auto;

    .home-container {
      width: 100%;
      padding-right: 0;
      flex-shrink: 0;
    }

    .sidebar {
      width: 100%;
      height: auto;
      transform: translateY(0);
      margin-top: 24px;

      .user img {
        width: 250px;
        height: 250px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
