@import './spreadsheet.scss';

body {
  font-family: 'Poppins', sans-serif;

  a {
    color: #a04ef6;

    span {
      color: #000;
    }

    &:hover {
      color: #fff;

      span {
        color: #fff;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f6f5fa;
  border-radius: 100vh;

  &:hover {
    background: #d0cfd3;
  }
}
